body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.wrapper .col1 {
    width: 20%;
}

.col1 nav {
    text-align: center;
}


a {
    text-decoration: none;
}

.vNav a {
    font-size: 20px;
    font-family: sans-serif;
}

.wrapper .col1 img {
    width: 200px;
    height: 200px;
}

.menuIcons {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: darkgray;

}

.select-search {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(156, 211, 176);
    width: 200px;
    border-radius: 15px;
}

.wrapper .col2 {
    width: 80%;
    background-color: lightgray;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
}

.col2 h2 {
    font-style: italic;
    font-family: sans-serif;

    padding: 0 15px;
}

ul {
    list-style: none;
}

.link {
    cursor: pointer;
    color: blueviolet;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.link:hover {
    color: red;
}

a:hover {
    color: red;
}

img:hover {
    color: red;
}


/* Start Details */
.wrapper .dd-col2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    gap: 10px;
}

.wrapper .dd-col2 .results .race-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.wrapper .dd-col2 .results .down {
    color: red;
    font-size: 13px;
}


.wrapper .dd-col2 .results .up {
    color: green;
    font-size: 13px;
}

.details {
    padding: 15px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* rd - RaceDetails */
.rd-details {
    padding: 5px;
}

.results {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 5px 20px;
    border-radius: 15px;
}

.results .no-data-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results .no-data-div img {
    width: 500px;
}

.results h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* rd - RaceDetails */
.rd-results h2 {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    background-color: lightcyan;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.results th {
    background-color: lightgray;
}

.results th,
td {
    text-align: left;
    border: 1px solid lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

/* rd - RaceDetails */
.rd-results th {
    /* font-size: 15px; */
    white-space: nowrap;
    overflow: hidden;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* End Details */

/* Start App vNav */
.vNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 0;
    padding-inline: 0;
}

.vNav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background-color: darkgray;
    margin: 5px;
    border-radius: 15px;
    font-size: 25px;
}

.wrapper .vNav img {
    width: 100px;
    height: 43.5px;
}


/* End App vNav */

/* start Breadcrumbs */

.breadcrumbs-wrapper .home,
.middle,
.last {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
}


.breadcrumbs-wrapper .last {
    background-color: cyan;
}

/* end Breadcrumbs */

/* RaceDetails */
.race-round {
    border: 10px solid lightskyblue;
    border-radius: 100%;
    padding: 10px;
    margin: 25px;
}

/* Home */
#bg-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
